@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

::selection {
  color: #ffffff; 
  background-color: #cb601d; /* Change the background color to a shade of blue */
}


/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1c1c1c /* Background color */
} 

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #313131; /* Color of the handle */
  border-radius: 6px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #050505; /* Color on hover */
}
